# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
staticfiles/
media/

# Virtualenv
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# Docker
*.pid
.git-credentials

# Coverage
htmlcov/
.coverage*
.pytest_cache/

# Migrations cache
*/migrations/__pycache__/

# Local settings
.env.local
.env.dev
.env.prod


